{{define "page"}}
    <div id="test-form" class="row panel-light">Hello, world</div>

    <script>
        $(document).ready(function () {
            $('div.nav-link').removeClass('active')
            $('#nav_home').addClass('active')
        })
    </script>
{{end}}