<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Template</title>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6ebb323cdb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/lazy/lazy.css">
    <link rel="stylesheet" href="/static/css/prism/prism.css">
    <link rel="stylesheet" href="/static/css/pnotify/PNotify.css">
    <link rel="stylesheet" href="/static/css/editable.css">

</head>

<body>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery/ajaxfile.js"></script>
    <script src="/static/js/jquery/jquery.filter.js"></script>
    <script src="/static/js/popper/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/nouislider/nouislider.min.js"></script>
    <script src="/static/js/pnotify/PNotify.js"></script>
    <script src="/static/js/lazy/lazy.js"></script>
    <script src="/static/js/editable.js"></script>

    <div id="wrapper">
        {{template "navigation"}}
        <div id="page-wrapper">
            {{template "page"}}
        </div>
    </div>
</body>
</html>